<!DOCTYPE html>
<html>
<head>
    <title>AI Personalized Movie Recommendation System</title>

    <style>

        body{
            margin:0;
            font-family:Arial,sans-serif;
            background:#0f172a;
            color:white;
        }

        header{
            background:linear-gradient(90deg,#7c3aed,#2563eb);
            padding:20px;
            text-align:center;
        }

        h1{
            margin:0;
        }

        .container{
            padding:20px;
        }

        .search-box{
            text-align:center;
            background:#1e293b;
            padding:20px;
            border-radius:15px;
            margin-bottom:30px;
        }

        input,select,button{
            padding:12px;
            margin:8px;
            border:none;
            border-radius:8px;
        }

        input,select{
            width:220px;
        }

        button{
            background:#7c3aed;
            color:white;
            cursor:pointer;
        }

        button:hover{
            background:#5b21b6;
        }

        .section-title{
            margin-top:40px;
            margin-bottom:15px;
            text-align:center;
        }

        .movie-grid{
            display:grid;
            grid-template-columns:repeat(5,1fr);
            gap:20px;
            margin-top:20px;
        }

        .card{
            width:100%;
            background:white;
            color:black;
            border-radius:15px;
            overflow:hidden;
            grid-template-columns:repeat(5,1fr);
            box-shadow:0 4px 10px rgba(0,0,0,0.4);
        }

        .card img{
            width:100%;
            height:320px;
            object-fit:cover;
        }

        .card-body{
            padding:15px;
        }

        .rating{
            color:green;
            font-weight:bold;
        }

        h3{
            margin-top:20px;
        }
        .filter-row{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    flex-wrap:wrap;

    margin-top:20px;

}

.filter-row select{

    width:150px;

}

.filter-row input{

    width:120px;

}

    </style>
</head>

<body>

<header>
    <h1>🎬 AI Personalized Movie Recommendation System</h1>
</header>

<div class="container">

    <div class="search-box">

        <h3>🎥 Movie Recommendation</h3>

        <input
    type="text"
    id="movie"
    placeholder="Enter Movie Name">

<button onclick="getRecommendation()">
    Recommend Movies
</button>

<button onclick="startVoiceSearch()">
    🎤 Voice Search
</button>

<select id="voiceLang">
    <option value="en-US">English</option>
    <option value="ta-IN">Tamil</option>
    <option value="hi-IN">Hindi</option>
    <option value="te-IN">Telugu</option>
</select>

        <div id="suggestions"
             style="
               background:white;
               color:black;
               width:220px;
               margin:auto;
               border-radius:5px;
               max-height:200px;
               overflow-y:auto;">
        </div>    

        <button onclick="getRecommendation()">
            Recommend Movies
        </button>

        <hr>

<div class="filter-row">

    <select id="mood">

        <option value="">Mood</option>

        <option value="happy">Happy 😊</option>

        <option value="sad">Sad 😢</option>

        <option value="romantic">Romantic ❤️</option>

        <option value="action">Action 🔥</option>

    </select>

    <select id="language">

        <option value="">Language</option>

        <option value="hindi">Hindi</option>

        <option value="tamil">Tamil</option>

        <option value="telugu">Telugu</option>

        <option value="malayalam">Malayalam</option>

        <option value="kannada">Kannada</option>

    </select>

    <select id="year">

        <option value="2026">2026</option>
<option value="2025">2025</option>
<option value="2024">2024</option>
<option value="2023">2023</option>
<option value="2022">2022</option>
<option value="2021">2021</option>
<option value="2020">2020</option>
<option value="2019">2019</option>
<option value="2018">2018</option>
<option value="2017">2017</option>
<option value="2016">2016</option>
<option value="2015">2015</option>

    </select>

    <input
        type="number"
        step="0.1"
        id="rating"
        placeholder="Rating">

    <button onclick="applyFilters()">

        Apply Filters

    </button>

</div>

    
    <h2 class="section-title">🎬 Selected Movie</h2>
    <div id="selectedMovie" class="movie-grid"></div>

    <h2 class="section-title">🎯 Similar Movies</h2>
    <div id="results" class="movie-grid"></div>

    <h2 class="section-title">⭐ Top Rated Movies</h2>
    <div id="topMovies" class="movie-grid"></div>

<div style="text-align:center;margin-top:20px;">
    <button
    id="topMoreBtn"
    onclick="loadMoreTop()">
    Show More
    </button>
</div>

    <h2 class="section-title">🔥 Trending Movies</h2>
    <div id="trendingMovies" class="movie-grid"></div>

<div style="text-align:center;margin-top:20px;">
    <button
    id="trendingMoreBtn"
    onclick="loadMoreTrending()">
    Show More
    </button>
</div>
    
    <h2 class="section-title">👻 Horror Movies</h2>
    <div id="horrorMovies" class="movie-grid"></div>

<div style="text-align:center;margin-top:20px;">
    <button
    id="horrorMoreBtn"
    onclick="loadMoreHorror()">
    Show More
    </button>
</div>

    <h2 class="section-title">😂 Comedy Movies</h2>
    <div id="comedyMovies" class="movie-grid"></div>

<div style="text-align:center;margin-top:20px;">
    <button
    id="comedyMoreBtn"
    onclick="loadMoreComedy()">
    Show More
    </button>
</div>

    <h2 class="section-title">🚀 Sci-Fi Movies</h2>
    <div id="scifiMovies" class="movie-grid"></div>

<div style="text-align:center;margin-top:20px;">
    <button
    id="scifiMoreBtn"
    onclick="loadMoreScifi()">
    Show More
    </button>
</div>

    <h2 class="section-title">❤️ Romance Movies</h2>
    <div id="romanceMovies" class="movie-grid"></div>

<div style="text-align:center;margin-top:20px;">
    <button
    id="romanceMoreBtn"
    onclick="loadMoreRomance()">
    Show More
    </button>
</div>

    <h2 class="section-title">⚔️ Action Movies</h2>

<div id="actionMovies" class="movie-grid"></div>

<div style="text-align:center;margin-top:20px;">
    <button
    id="actionMoreBtn"
    onclick="loadMoreAction()">

    Show More
    </button>
</div>
<script>

let topPage = 1;
let trendingPage = 1;
let horrorPage = 1;
let comedyPage = 1;
let scifiPage = 1;
let romancePage = 1;
let actionPage = 1;

function startVoiceSearch(){

    if (!('webkitSpeechRecognition' in window)) {

        alert("Voice Search not supported in this browser");

        return;
    }

    const recognition =
        new webkitSpeechRecognition();

    recognition.lang =
document.getElementById("voiceLang").value;

    recognition.start();

    recognition.onresult = function(event){

        const movieName =
            event.results[0][0].transcript;

        document
        .getElementById("movie")
        .value = movieName;

        getRecommendation();

    };

    recognition.onerror = function(){

        alert("Voice recognition failed");
    };

}

function createCards(data, target) {

    let html = "";

    if (!data || data.length === 0) {
        document.getElementById(target).innerHTML = "<h2>No Movies Found</h2>";
        return;
    }

    data.forEach(movie => {

        console.log(movie);

        // ✅ SUPPORT BOTH APIs (TMDB + OMDb)
        const poster =
            movie.poster_path
                ? `https://image.tmdb.org/t/p/w500${movie.poster_path}`
                : movie.Poster && movie.Poster !== "N/A"
                    ? movie.Poster
                    : "https://via.placeholder.com/500x750?text=No+Poster";

        const title = movie.title || movie.Title || "Untitled";

        const genre = movie.Genre || "-";
        const language = movie.Language || "-";
        const rating = movie.Rating || movie.imdbRating || "-";

        html += `
        <div class="card">

            <img src="${poster}" alt="${title}">

            <div class="card-body">

                <h3>${title}</h3>

                <p><b>Genre:</b> ${genre}</p>

                <p><b>Language:</b> ${language}</p>

                <p class="rating">⭐ ${rating}</p>

            </div>

        </div>
        `;
    });

    document.getElementById(target).innerHTML = html;
}

function showSelectedMovie(movie){

    fetch(`/movieinfo?movie=${movie}`)

    .then(res => res.json())

    .then(data => {

        if(data.Title){

            createCards(
                [data],
                "selectedMovie"
            );

        }

    });

}

function getRecommendation(){

    let movie =
    document.getElementById("movie").value;

    if(movie.trim()===""){
        alert("Please enter movie name");
        return;
    }

    showSelectedMovie(movie);

    fetch(`/recommend?movie=${movie}`)

    .then(res=>res.json())

    .then(data=>{

        createCards(
            data,
            "results"
        );

    });

}



function getMood(){

    let mood =
    document.getElementById("mood").value;

    fetch(`/mood?mood=${mood}`)

    .then(res=>res.json())

    .then(data=>{

        createCards(data,"results");

    });

}

function getLanguageMovies(){

    let language =
    document.getElementById("language").value;

    fetch(`/filter?language=${language}`)

    .then(res=>res.json())

    .then(data=>{

        createCards(data,"results");

    });

}

function getYearMovies(){

    let year =
    document.getElementById("yearFrom").value;

    fetch(`/filter?year=${year}`)

    .then(res=>res.json())

    .then(data=>{

        createCards(
            data,
            "results"
        );

    });

}

function getRatingMovies(){

    let rating =
    document.getElementById("rating").value;

    fetch(`/filter?rating=${rating}`)

    .then(res=>res.json())

    .then(data=>{

        createCards(data,"results");

    });

}

function applyFilters(){

    let language =
        document.getElementById(
            "language"
        ).value;

    let year =
        document.getElementById(
            "year"
        ).value;

    let rating =
        document.getElementById(
            "rating"
        ).value;

    fetch(
        `/filter?language=${language}&year=${year}&rating=${rating}`
    )

    .then(res=>res.json())

    .then(data=>{

        createCards(
            data,
            "results"
        );

    });

}


function loadTop(reset=false){

    if(reset){

        topPage = 1;

        document.getElementById("topMovies").innerHTML = "";

    }

    fetch(`/top?page=${topPage}`)

    .then(res => res.json())

    .then(data => {

        createCards(data.movies,"topMovies");

        document.getElementById("topMoreBtn").style.display =
            data.has_more ? "block" : "none";

    });

}

function loadMoreTop(){

    topPage++;

    loadTop();

}


function loadTrending(reset=false){

    if(reset){

        trendingPage = 1;

        document
        .getElementById("trendingMovies")
        .innerHTML = "";

    }

    fetch(`/trending?page=${trendingPage}`)

    .then(res => res.json())

    .then(data => {

        createCards(
            data.movies,
            "trendingMovies"
        );

        document
        .getElementById("trendingMoreBtn")
        .style.display =
            data.has_more ? "block" : "none";

    });

}

function loadMoreTrending(){

    trendingPage++;

    loadTrending();

}

document
.getElementById("movie")
.addEventListener(
"keyup",
function(){

    let query = this.value;

    if(query.length < 2){

        document
        .getElementById("suggestions")
        .innerHTML="";

        return;
    }

    fetch(`/search?q=${query}`)

    .then(res=>res.json())

    .then(data=>{

        let html="";

        data.forEach(movie=>{

            html += `
            <div
            style="
            padding:10px;
            cursor:pointer;
            border-bottom:1px solid #ddd"
            onclick="
            document.getElementById('movie').value='${movie.Title}';
            document.getElementById('suggestions').innerHTML='';
            ">

            ${movie.Title}

            </div>
            `;

        });

        document
        .getElementById("suggestions")
        .innerHTML=html;

    });

});
 

function loadGenreMovies(genre,target){

    fetch(`/genre/${genre}`)

    .then(res=>res.json())

    .then(data=>{

        createCards(
            data.movies,
            target
        );

    });

}

function loadGenrePage(
    genre,
    target,
    page,
    buttonId,
    reset=false
){

    if(reset){

        document
        .getElementById(target)
        .innerHTML = "";

    }

    fetch(
        `/genre/${genre}?page=${page}`
    )

    .then(res=>res.json())

    .then(data=>{

        let html="";

        data.movies.forEach(movie=>{

            html += `

            <div class="card">

                <img src="${movie.Poster}">

                <div class="card-body">

                    <h3>${movie.Title}</h3>

                    <p>${movie.Genre}</p>

                    <p>⭐ ${movie.Rating}</p>

                </div>

            </div>

            `;

        });

        document
        .getElementById(target)
        .innerHTML += html;

        document
        .getElementById(buttonId)
        .style.display =
            data.has_more
            ? "inline-block"
            : "none";

    });

}



function loadHorror(reset=false){

    if(reset) horrorPage=1;

    loadGenrePage(
        "Horror",
        "horrorMovies",
        horrorPage,
        "horrorMoreBtn",
        reset
    );
}

function loadMoreHorror(){

    horrorPage++;

    loadHorror();

}

function loadHorror(reset=false){

    if(reset) horrorPage=1;

    loadGenrePage(
        "Horror",
        "horrorMovies",
        horrorPage,
        "horrorMoreBtn",
        reset
    );
}

function loadMoreHorror(){

    horrorPage++;

    loadHorror();

}

function loadComedy(reset=false){

    if(reset) comedyPage=1;

    loadGenrePage(
        "Comedy",
        "comedyMovies",
        comedyPage,
        "comedyMoreBtn",
        reset
    );
}

function loadMoreComedy(){

    comedyPage++;

    loadComedy();

}

function loadScifi(reset=false){

    if(reset) scifiPage=1;

    loadGenrePage(
        "Sci-Fi",
        "scifiMovies",
        scifiPage,
        "scifiMoreBtn",
        reset
    );
}

function loadMoreScifi(){

    scifiPage++;

    loadScifi();

}

function loadRomance(reset=false){

    if(reset) romancePage=1;

    loadGenrePage(
        "Romance",
        "romanceMovies",
        romancePage,
        "romanceMoreBtn",
        reset
    );
}

function loadMoreRomance(){

    romancePage++;

    loadRomance();

}

function loadAction(reset=false){

    if(reset) actionPage=1;

    loadGenrePage(
        "Action",
        "actionMovies",
        actionPage,
        "actionMoreBtn",
        reset
    );
}

function loadMoreAction(){

    actionPage++;

    loadAction();

}
window.onload = function(){

    loadTop(true);

    loadTrending(true);

    loadHorror(true);

    loadComedy(true);

    loadScifi(true);

    loadRomance(true);

    loadAction(true);

};

</script>

</body>
</html>